{% assign link-prefix = '' %}
{% if page.url != '/' then %}
    {% assign link-prefix = '/' %}
{% endif %}

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
            <a href="{{ link-prefix }}#page-top"></a>
        </li>
        <li class="page-scroll">
            <a href="{{ link-prefix }}#about">About Us</a>
        </li>
        <li class="page-scroll">
            <a href="{{ link-prefix }}#overview">Overview</a>
        </li>
        <li class="page-scroll">
            <a href="/guide">Guide</a>
        </li>
        <li class="page-scroll">
            <a href="{{ link-prefix }}#join">Join Us</a>
        </li>
    </ul>
</div>