{% assign link-prefix = '' %}
{% if page.url != '/' %}
    {% assign link-prefix = '/' %}
{% endif %}

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">ClimateAction.tech</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="{{ link-prefix }}#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="{{ link-prefix }}#about">About Us</a>
                </li>
                <li class="page-scroll">
                    <a href="{{ link-prefix }}#overview">Overview</a>
                </li>
                <li class="page-scroll">
                    <a href="/guide">Guide</a>
                </li>
                <li class="page-scroll">
                    <a href="{{ link-prefix }}#join">Join Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>